* {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    font-size: 10px;
  }
  

  body {
    background: tomato; // fallback for older browsers
    background: -webkit-linear-gradient(135deg, #2D3A62, #55375E); 
    background: -o-linear-gradient(135deg, #2D3A62, #55375E); 
    background: -moz-linear-gradient(135deg, #2D3A62, #55375E);  
    background-image: linear-gradient(135deg, #2D3A62, #55375E); 
  }

  .data-download {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 1.6rem;
  }
  
  .data-download {
    cursor: pointer;
  }

    .data-download:hover {
      opacity: .7;
    }
    
    i.material-icons {
      font-size: 30px;
      color: #fff;
      height: 30px;
      width: 200px;
      margin: auto;
      display: block;
    }
  
    p {
      text-align: center;
      color: #fff;
      margin: auto;
      height: 30px;
      font-size: 22px;
      font-family: 'Abel', sans-serif;
    }
  }