/* Webfont: Montserrat-SemiBold */@font-face {
    font-family: "MontserratSemiBold";
	src: url("../../font/Montserrat-SemiBold.woff2") format("woff2"), /* Modern Browsers */
         url("../../font/Montserrat-SemiBold.woff") format("woff"); /* Modern Browsers */
    font-style: normal;
	font-weight: normal;
    
}

/* Webfont: Work-Sans */@font-face {
    font-family: "WorkSans";
	src: url("../../font/WorkSans-Regular.woff2") format("woff2"), /* Modern Browsers */
         url("../../font/WorkSans-Regular.woff") format("woff"); /* Modern Browsers */
    font-style: normal;
	font-weight: normal;
    
}

/* JOST* */

@font-face {
    font-family: "Jost";
    src: url("Jost-100.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: "Jost";
    src: url("Jost-200.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: "Jost";
    src: url("Jost-300.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: "Jost";
    src: url("Jost-400.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: "Jost";
    src: url("Jost-500.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: "Jost";
    src: url("Jost-600.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: "Jost";
    src: url("Jost-700.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: "Jost";
    src: url("Jost-800.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: "Jost";
    src: url("Jost-900.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;

}