/*--------------------------------------------------*/
/*GENERAL*/
/*--------------------------------------------------*/

body{
    background-color: #282420;
    color: #f8e7df;
    font-family: "Jost";
    font-weight: 400;
    font-style: normal;
    font-variant-numeric: tabular-nums;
    font-kerning: normal;
}

.c{
    padding:2em;
    display:flex;
    flex-direction:column;
    justify-content: center;

}


a{
    text-decoration: none;
    color: rgb(245, 111, 111);
    cursor:pointer;
    outline: 0;
    font-size: 1.2em;
}

a:hover{
    color:  rgb(247, 186, 186);  
}

a:active{
    color:  rgb(160, 78, 78);
}

input{
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}


.list-viz-a{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.list-viz-a div{
    padding-bottom:.5em;
}

h1{
    font-weight: 700;
    font-size: 2.5em;
}

p{
    font-size: 1.2em;
    line-height: 1.5em;
}