body{
    background-color: #282420;
    color: #f8e7df;
}

body{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.c-svg{
    max-height:638px;
    min-height:452px;
    min-width: 360px;
    max-width: 1600px;
    height: 90vh;
    width: 90vw;
    border: solid 1px;
}
