body{
    background-color: #282420;
    color: #f8e7df;
}

body{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.c-svg{
    max-height:974px;
    height: 90vh;
    width: 90vw;
    border: solid 1px;
}